%h1 My Application
= label_tag 'Iteration'
= text_field_tag 'iteration', 500000
= label_tag 'Radius'
= text_field_tag 'radius', 0.05
%canvas#myCanvas.canvas-style{:height => "800", :width => "1800"}




